
#init-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 900;
    letter-spacing: -2px;
}

#init-text h2 {
    margin-top: 20px;
    font-size: 40px !important;
    font-family: 'Lato', sans-serif;
}

#init-section {
	background-color: #15965C;
	height: 100vh;
	width: 100%;
	display: flex;
}

#init-section-container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

#init-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
	padding-top: 20%;
}

#init-button {
    margin-top: 10%;
    display: flex;
    justify-content: center;
	background-color: transparent;
}

.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

