h1 {
	font-size: 12em !important;
}

h2 {
    font-size: 4em !important;
}

#init-section {
	background-color: yellow;
	height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
}

#init-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
	padding-top: 10%;
}

#init-button {
    display: flex;
    justify-content: center;
	background-color: transparent;
}

