#second-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

#life-section{
    margin-top: 5%;
    margin-bottom: auto;
    height: 60vh;
    width: 25%;
    background-color: #53D2DC;
}

#hobbies-section{
    margin-top: auto;
    margin-bottom: 5%;
    height: 60vh;
    width: 25%;
    background-color: #4F8FC0;
}

#life-section h4{
    display: flex;
    margin-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

h4 .bottom{
    display: flex;
    margin-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

#hobbies-section h4{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}
